h1 {
    color: purple;
    text-align: center;
    font-weight: 900;
}

p {
    background-color: black;
    color: greenyellow;
}

h2 {
    color: royalblue;
    font-weight: bold;
}

ul > li {
    color: goldenrod;
    background-color: darkblue;
    font-weight: lighter;
}